<div class="blogroll">
<h3 class="asidetitle">友情链接</h3>
<ul>
<li><a href="http://bbs.ngacn.cc/" title="ngacn" target=_blank>NGA著名精英论坛</a></li>
<li><a href="http://bbs.uestc.edu.cn/" title="河畔" target=_blank>清水河畔</a></li>
<li><a href="http://guosu.sinaapp.com/" title="二郭" target=_blank>二郭</a></li>
<li><a href="http://www.duanzhihe.com/" title="占鹤" target=_blank>占鹤</a></li>
<li><a href="http://www.puwenlong.com/" title="CP" target=_blank>蒲蒲</a></li> 
<li><a href="http://www.chengege.com/" title="琛JJ" target=_blank>琛GG</a></li>
<li><a href="http://blog.dandyweng.com/" title="Dandy Weng" target=_blank>翁天信的博客</a></li>

</ul>
</div>